@import "src/variables/variables";

.btn {
  display: block;
  margin-left: auto;
  border: none;
  background: transparent;
  margin-right: 10px;
  color: #fff;
  border-radius: 4px;
  svg {
    fill: $basketButtonColor;
  }
}