@import "src/variables/variables";


.wrapper {

  position: relative;
  margin: 10px;

  max-width: 240px;
  padding: 10px;

  .image {
    display: block;
    width: 180px;
    height: 180px;
    margin: 0 auto;

    img {
      width: 100%;
      object-fit: cover;
    }
  }

  .productInfo {
    height: 120px;

    .productName {
      height: 44px;
      font-size: 1.2rem;
      overflow: hidden;
    }
    .wrapperPriceBlock {
      display: flex;
      .price {
        font-size: 1.3rem;
        display: flex;
        color: $price;
        .units {
          margin-left: 10px;

        }
      }
    }

  }
}


.heart {
  width: 24px;
  border: none;
  background: transparent;
  svg {
    width: 24px;

    &:hover {
      cursor: pointer;
    }
  }
}