@import 'src/variables/variables';

@font-face {
  font-family: 'PT Root UI';
  src: url('../../fonts/PTRootUI-Light.eot');
  src: local('PT Root UI Light'), local('PTRootUI-Light'),
  url('../../fonts/PTRootUI-Light.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/PTRootUI-Light.woff2') format('woff2'),
  url('../../fonts/PTRootUI-Light.woff') format('woff'),
  url('../../fonts/PTRootUI-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'PT Root UI';
  src: url('../../fonts/PTRootUI-Regular.eot');
  src: local('PT Root UI'), local('PTRootUI-Regular'),
  url('../../fonts/PTRootUI-Regular.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/PTRootUI-Regular.woff2') format('woff2'),
  url('../../fonts/PTRootUI-Regular.woff') format('woff'),
  url('../../fonts/PTRootUI-Regular.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

.menu {
  position: fixed;
  width: 320px;
  min-height: 300px;
  left: 66px;
  top: 150px;
  z-index:1001;
  border-radius: 10px;
  .list {
    background: #fff;
    list-style: none;
    box-shadow: 0 2px 4px rgba(0,0,0,.3);
    &:first-child {

    }
    .item {
      height: 40px;
      font-size: 0.94rem;
      padding-left: 65px;
      display: flex;
      align-items: center;
      padding-right: 10px;
      cursor: pointer;

      .icon {
        position: absolute;
        left: 0;
        width: 60px;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        svg {
          fill: $orangeBackgroundColor;
          width: 24px;
        }

      }
    }
  }
  .dropdown {
    width: 600px;
    height: 100%;
    position: fixed;
    top:150px;
    left: 386px;
    border: 1px solid silver;
    z-index: 1001;
    background: #fff;
    height: 441px;
    display:grid;
    grid-template-columns: repeat(3,1fr);
  }
  .offsetDrop {
    top: 80px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
  }
  .subcategoryItem {
    display: flex;
   border: 1px solid silver;
    max-height: 140px;
    justify-content: center;
    position: relative;
    .subcategoryName {
      position: absolute;
      top: 70px;
    }
    .image {
      width: 60px;
      height: 60px;
      img {
        width: 100%;
        object-fit: cover;
      }
    }
  }

}
.active {
  color:$orangeBackgroundColor;
}

.offsetMode {
  top:  80px;
}


