

.menu {
  position: absolute;
  width: 320px;
  min-height: 300px;
  left: 80px;
  top: 160px;
  z-index:1001;

  .dropdown {
    width: 300px;
    height: 100vh;
    position: fixed;
    top: 60px;
    left: 450px;
    z-index: 1001;

    background: silver;
  }
}
