

.list {
  display: flex;
  list-style: none;
  margin-left: auto;
  max-width: 400px;
  flex-grow: 1;
  text-align: center;


  .item {
    flex-grow: 1;

    .itemBtn {
      border: none;
      background: transparent;
    }
  }
}