.container {
  max-width: 1400px;
  margin: 0 auto;

  .itemBar {

    height: auto;
    



    .devices {



      overflow: hidden;

      .separate {
        display: flex;
        flex-direction: column;
        .itemCount {
          display: flex;
          .name {
            font-size: 30px;
            margin-left: 10px;
          }
        }

        .itemWrapper {
          display: flex;
          flex-wrap: wrap;
        }
      }
    }



    .description {
      display: flex;
      flex-direction: column;
      border: 1px solid silver;
    }

  }

}
.filterWrapper {
  h2 {
    margin-left: 20px;
  }
  .filter {
    background: #fffeeb;
    padding: 20px;
    .wrapp {
      display: flex;

      .title {


      }
      .description {
        margin-left: 10px;
        border: 1px solid silver;
        padding: 4px 10px;
        border-radius: 20px;
        color: darkgray;
        &:hover {
          cursor: pointer;
          background: #fff;
        }
      }
    }
  }
}



