.container {
  max-width: 1400px;
  margin: 0 auto;
  .itemBar {

    height: auto;
    



    .devices {



      overflow: hidden;

      .separate {
        display: flex;
        flex-direction: column;
        .itemCount {
          display: flex;
          .name {
            font-size: 30px;
            margin-left: 10px;
          }
        }

        .itemWrapper {
          display: flex;
          flex-wrap: wrap;
        }
      }
    }

    .filter {
      margin-top: 20px;



      position: relative;
      .filterBlock {
        display: flex;
      }
    }

    .description {
      display: flex;
      flex-direction: column;
      border: 1px solid silver;
    }
  }
}
