@import "src/variables/variables";


.navbar {
  z-index: 1001;
  position: relative;
  .container {
    max-width: 1400px;

    background: #fff;
    flex-direction: column;



    .dflex {
      display: flex;
      width: 100%;
      align-items: center;

    }

  }

  .bottomBar {
    width: 100%;
    display: flex;
    align-items: center;

    height: 40px;

    .catalogBtn {
      background: #000;
      padding: 10px 20px;
      color: #fff;
      border: none;
      border-radius: 20px;
      font-size: 14px;
      margin-left: 20px;
      outline: none;

    }

    .btn {
      margin-left: auto;
      align-items: center;
      margin-right: 10px;
      outline: none;

      button {
        background: transparent;
        display: block;

        display: flex;
        align-items: center;
        height: 30px;
        justify-content: center;
        border: 1px solid silver;

        svg {
          width: 24px;

        }
      }
    }
  }
}

.typebar {

}