@import "src/variables/variables";


.navbar {
  z-index: 1001;
  position: relative;

  .container {
    max-width: 1400px;

    background: #fff;
    flex-direction: column;


    .dflex {
      display: flex;
      width: 100%;
      align-items: center;

    }

  }

  .bottomBar {
    width: 100%;
    display: flex;
    align-items: center;
    height: 50px;
    position: relative;

    .catalogBtn {
      background: #000;
      padding: 10px 20px;
      color: #fff;
      border: none;
      border-radius: 20px;
      font-size: 14px;
      margin-left: 20px;
      outline: none;

    }

    .btns {
      margin-left: auto;


      outline: none;
      height: 100%;
      .btn {
        display: flex;
        flex-direction: column;

        .icon{
          flex-basis: 80%;

          max-height: 27px;

        }
        .title {
          flex-basis: 20%;
          margin: 0;
          font-size: 14px;

          color: #000;

        }
      }

      button {
        background: transparent;
        display: block;
        height: 100%  ;
        align-items: center;
        margin-right: 20px;
        margin-left: 20px;

  border: none;

        svg {
          width: 24px;
          height: 24px;


        }
      }
    }
  }
}

.typebar {

}